.App {
  min-height: 100vh;
  width: 100%;
  background-color: slateblue;
}
.zone {
  display: none;
  height: 80%;
  width: 85%;
  position: absolute;
  top:0;
  z-index: 1000;
  background-color: white;
  border-style: dashed;
    border: 2px dashed;
    margin: 16px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
header {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin-top: 30px;
  max-height: 300px;
    background-color: rgb(0, 200, 0);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
}
button:focus {
  outline: none;
  box-shadow: inset 2px 2px 1px 0px rgba(50, 50, 50, 0.75);
  transform: scale(0.9, 0.9);
}
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
ul {    
  width: 100%;
  list-style: none;
  display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

}
ul li {
  width: 100%;
}
.card {
  width: 80%;
  min-height: 50px;
  background-color: white;
  margin: 20px auto 0;
  display: flex;
  align-items: flex-start;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 10px;
}